<h1>Checkout</h1>

<form [formGroup]="checkoutForm" (submit)="onSubmit(checkoutForm)">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name"
           [ngClass]="{'is-invalid': checkoutForm.get('name').errors && checkoutForm.get('name').touched}">
    <div class="invalid-feedback">
      <ul class="errors-list">
        <li *ngIf="checkoutForm.get('name').hasError('required') && checkoutForm.get('name').touched">
          Name is required
        </li>
        <li *ngIf="checkoutForm.get('name').hasError('minlength') && checkoutForm.get('name').touched">
          Name should be at least 6 characters long
        </li>
        <li *ngIf="checkoutForm.get('name').hasError('maxlength') && checkoutForm.get('name').touched">
          Name shouldn't be more than 50 characters long
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Phone</label>
    <input type="text" class="form-control" id="phone" formControlName="phone"
           [ngClass]="{'is-invalid': checkoutForm.get('phone').errors && checkoutForm.get('phone').touched}">
    <div class="invalid-feedback">
      <ul class="errors-list">
        <li *ngIf="checkoutForm.get('phone').hasError('required') && checkoutForm.get('phone').touched">
          Phone is required
        </li>
        <li *ngIf="checkoutForm.get('phone').hasError('minlength') && checkoutForm.get('phone').touched">
          Phone should be at least 6 characters long
        </li>
        <li *ngIf="checkoutForm.get('phone').hasError('maxlength') && checkoutForm.get('phone').touched">
          Phone shouldn't be more than 15 characters long
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="address">Address 1</label>
    <input type="text" class="form-control" id="address" ngModel formControlName="address"
           [ngClass]="{'is-invalid': checkoutForm.get('address').errors && checkoutForm.get('address').touched}">
    <div class="invalid-feedback">
      <ul class="errors-list">
        <li *ngIf="checkoutForm.get('address').hasError('required') && checkoutForm.get('address').touched">
          Address is required
        </li>
        <li *ngIf="checkoutForm.get('address').hasError('minlength') && checkoutForm.get('address').touched">
          Address should be at least 8 characters long
        </li>
        <li *ngIf="checkoutForm.get('address').hasError('maxlength') && checkoutForm.get('address').touched">
          Address shouldn't be more than 60 characters long
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="address2">Address 2 (optional)</label>
    <input type="text" class="form-control" id="address2" formControlName="address2"
           [ngClass]="{'is-invalid': checkoutForm.get('address2').errors && checkoutForm.get('address2').touched}">
    <div class="invalid-feedback">
      <ul class="errors-list">
        <li *ngIf="checkoutForm.get('address2').hasError('minlength') && checkoutForm.get('address2').touched">
          Address2 should be at least 5 characters long
        </li>
        <li *ngIf="checkoutForm.get('address2').hasError('maxlength') && checkoutForm.get('address2').touched">
          Address2 shouldn't be more than 60 characters long
        </li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Country</label>
      <select class="custom-select d-block w-100" formControlName="country" id="country"
              [ngClass]="{'is-invalid': checkoutForm.get('country').errors && checkoutForm.get('country').touched}">
        <option value="">Choose...</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Germany">Germany</option>
        <option value="France">France</option>
      </select>
      <div class="invalid-feedback">
        <ul class="errors-list">
          <li *ngIf="checkoutForm.get('country').hasError('required') && checkoutForm.get('country').touched">
            Country is required
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" formControlName="city"
             [ngClass]="{'is-invalid': checkoutForm.get('city').errors && checkoutForm.get('city').touched}">
      <div class="invalid-feedback">
        <ul class="errors-list">
          <li *ngIf="checkoutForm.get('city').hasError('minlength') && checkoutForm.get('city').touched">
            City is required
          </li>
          <li *ngIf="checkoutForm.get('city').hasError('minlength') && checkoutForm.get('city').touched">
            City should be at least 3 characters long
          </li>
          <li *ngIf="checkoutForm.get('city').hasError('maxlength') && checkoutForm.get('city').touched">
            City shouldn't be more than 30 characters long
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" id="zip" formControlName="zip"
             [ngClass]="{'is-invalid': checkoutForm.get('zip').errors && checkoutForm.get('zip').touched}">
      <div class="invalid-feedback">
        <ul class="errors-list">
          <li *ngIf="checkoutForm.get('zip').hasError('minlength') && checkoutForm.get('zip').touched">
            Zip is required
          </li>
          <li *ngIf="checkoutForm.get('zip').hasError('minlength') && checkoutForm.get('zip').touched">
            Zip should be at least 3 characters long
          </li>
          <li *ngIf="checkoutForm.get('zip').hasError('maxlength') && checkoutForm.get('zip').touched">
            Zip shouldn't be more than 12 characters long
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row flex-column align-items-end align-items-md-end">
    <div class="col-12 col-sm-3 mt-3">
      <h5 class="text-right">Shipping: <i>Free</i></h5>
    </div>

    <div class="col-12 col-sm-3 mt-3">
      <h4 class="text-right">Total: {{ total$ | async | currency:'USD'}}</h4>
    </div>
    <div class="col-12 col-sm-3 text-center text-sm-right">
      <button class="btn btn-primary" type="submit" routerLink="/checkout" [disabled]="checkoutForm.invalid">Place order</button>
    </div>
  </div>

</form>
