<div class="jumbotron p-3 p-md-5">
  <div class="col-md-8 offset-md-2 px-0 ">
    <h1 class="home">Free shipping on all clothing!</h1>
    <p class="lead my-3 text-center font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, beatae.</p>
    <p class="lead mb-0 text-center">
      <button class="btn btn-dark" routerLink="/category/clothing">Go to the category</button>
    </p>
  </div>
</div>
<h2 class="mt-5 mb-4 text-center border-bottom">Latest products</h2>
<div class="row">
  <app-product-card *ngFor="let product of products" [product]="product" class="col-md-3 mb-4"></app-product-card>
</div>
