<ng-container *ngIf="!product">
  <p>Loading...</p>
</ng-container>
<ng-container *ngIf="product">
  <div class="row">
    <div class="col-sm-4">
      <img [src]="product.imageURL" class="img-fluid">
    </div>
    <div class="col-sm-7 offset-sm-1">
      <h1>{{ product.name }}</h1>
      <h5 class="mt-4">Stock: {{ product.numberInStock }}</h5>
      <h4 class="mt-4">Price: {{ product.price}}$</h4>
      <button class="btn btn-lg btn-dark mt-3">Add to cart <i class="fas fa-shopping-cart"></i></button>
    </div>
  </div>
  <div class="row mt-4 justify-content-center" *ngIf="product.description">
    <div class="col">
      <h4>Product description:</h4>
      <p>{{ product.description}}</p>
    </div>
  </div>
</ng-container>
