<div class="card" style="width: 18rem;">
  <div class="card-img" style="height:200px;">
    <img class="card-img-top" [src]="product.image" style="max-height:100%;object-fit: contain" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{ product.name }}</h5>
    <p class="card-text">Category: {{ product.category }}</p>
    <button *ngIf="!qty; else controls" class="btn btn-primary" (click)="updateCart(1)">Add to cart</button>
    <ng-template #controls>
      <p class="text-center">
        <button class="btn btn-default float-left" (click)="updateCart(-1)">-</button>
        {{ qty }}

        <button class="btn btn-default float-right" (click)="updateCart(1)">+</button>
      </p>

    </ng-template>
  </div>
</div>
