.table-image-container {
  max-height:80px;
}
.table-image-container img{
  max-width:100px;
  max-height:100%;
  object-fit: contain
}
.qty-control {
  width: 50px;
  text-align: center;
}
.fa-trash {
  cursor:pointer;
}
.fa-trash:hover {
  color:#000;
}
